<!-- Footer -->
<div id="footer-wrapper">
    <div class="container">
            <div class="col-12">

                <div id="copyright">
                    &copy; @Config.CompanyName All rights not reserved. | Design: <a href="https://ya.ru">Из тырнета</a>
                </div>

            </div>
        </div>
    </div>
</div>

    </div>